.App {
  text-align: center;
}

.ModalStyle {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: solid;
  border-radius: 10px;
  padding: 25px;
}
